.container {
}
.slider {
}
#1{
background-image: url('https://www.pexels.com/ru-ru/photo/3d-8817540/');
}
#2{
background-image: url('https://www.pexels.com/ru-ru/photo/3d-8817542/');   
}
#3{
 background-image: url('https://www.pexels.com/ru-ru/photo/311458/');   
}
#4{
background-image: url('https://www.pexels.com/ru-ru/photo/159825/');    
}
#5{
background-image: url('https://www.pexels.com/ru-ru/photo/1036936/');    
}
#6{
background-image: url('https://www.pexels.com/ru-ru/photo/261055/');    
}